@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

h1 {
    color: #f6f6f6;
}

.titulo_destaque {
    color: #22D4FD;

}

.apresentacao {
    display: flex;
    align-items: center;
    justify-items: space-between;
    margin: 10% 20%;
    gap: 40px;
}

.apresentacao_conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudo_titulo {
    font-size: 35px;
    line-height: 56px;
    font-family: 'Krona One', sans-serif;
    width: 593px;
    height: 168px;
}

.apresentacao_conteudo_texto {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    width: 593px;
    height: 144px;
}

.apresentacao_links {
    display: flex;
    justify-content: space-between;
}

.apresentacao_links_link {
    background-color: #22d4fd;
    width: 280PX;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}